* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cardWrapper {
  width: 300px;
  margin: 15px;
  list-style-type: none;
}
.cardWrapperClick {
  border: 1px solid grey;
  padding: 10px;
}
.userCard {
  text-align: center;
}
.imgWrapper {
  width: inherit;
  height: 300px;
  position: relative;
}
.cardName,
.cardDescription {
  text-align: left;
}
.cardName,
.initials {
  font-weight: bold;
}
.cardName {
  font-size: 1.5rem;
  padding: 20px 0;
}
.cardName:empty:after,
.initials:empty:after {
  content: "Unknown";
}
.cardDescription {
  padding: 0 5px 10px 0;
  color: gray;
  line-height: 1.5;
}
.initials {
  color: white;
  font-size: 40px;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background:grey; 
}
.img {
  display: block;
  width: 100%;
  height: inherit;
  object-fit: cover;
  object-position: center;
  position: absolute;
  inset: 0;
}
.img:hover {
  filter: grayscale(1);
}
.linkWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}
.link {
  width: 40px;
  height: 40px;
  padding-top: 10px;
  margin: 0 5px 0 0;
  text-decoration: none;
  border: 1px solid lightgray;
  color: grey;
}
.link:hover {
  background-color: red;
}
