* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cardWrapper {
  width: 300px;
  margin: 15px;
  list-style-type: none;
}
